<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      th,
      td {
        border: 1px;
        border-color: black;
        border-style: solid;
      }
    </style>
    <title>Library Admin</title>
  </head>
  <body>
    <h1>
      Библиотека
      <a href="./admin/?logout=true">
        <button id="logout">Выйти</button>
      </a>
    </h1>
    <table style="border: 1px; border-color: black; border-style: solid">
      <thead>
        <tr>
          <th>Название книги</th>
          <th>Авторы</th>
          <th>Год издания</th>
          <th>Действие</th>
          <th>Просмотры</th>
          <th>Хотели почитать</th>
        </tr>
      </thead>
      <tbody>
        %book-info%
      </tbody>
    </table>
    <ul style="display: flex; list-style-type: none">
      %pagination%
    </ul>

    <button id="add">Добавить книгу в библиотеку</button><br />
    <form
      style="
        border: 2px;
        border-radius: 10px;
        border-color: blue;
        border-style: dashed;
        width: 600px;
        padding: 10px;
        display: none;
      "
    >
      <h2>Добавить книгу в библиотеку</h2>
      <input
        type="text"
        name="title"
        placeholder="Название книги"
        required
      /><br /><br />
      <input type="text" name="authors" placeholder="Автор" required />
      <!-- <input type="text" name="authors" placeholder="Автор" />
      <input type="text" name="authors" placeholder="Автор" /><br /><br /> -->
      <input type="file" name="cover" accept="image/*" /><br /><br />
      <textarea name="description" style="width: 75%; height: 100px"></textarea>
      <button type="submit" style="margin-left: 35px">Добавить</button>
    </form>
    <script>
      document.querySelector("#add").addEventListener("click", () => {
        document.querySelector("form").style.display = "block";
        document.querySelector("#add").style.display = "none";
      });
      document.getElementById("logout").addEventListener("click", () => {});

      document.querySelector("form").addEventListener("submit", (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        fetch("/admin/api/v1/add_book", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.ok) {
              console.log(
                `Книга ${event.target.title.value} успешно добавлена`
              );
            } else {
              console.log(
                `Книга ${event.target.title.value} уже есть в библиотеке`
              );
            }
          });
      });

      document.querySelectorAll(".delete_book").forEach((link) =>
        link.addEventListener("click", (event) => {
          event.preventDefault();
          fetch("/admin/api/v1/delete_book", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ id: link.id }),
          })
            .then((response) => response.json())
            .then((data) => {
                console.log(`Книга ${event.target.id} успешно удалена`)
                //window.location.replace("./admin")
            });
        })
      );
    </script>
  </body>
</html>
